<h1 style="text-align:center;">Staff Management System</h1>
 <div><button class="btn btn-primary" routerLink="../register" style="margin-left:500px;">Add staff</button></div>
<table style="margin-top:100px;width:50%;margin-left:300px;">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>test@gmail.com</td>
    <td><button class="btn btn-danger">Edit</button>
    <button class="btn btn-danger">disable</button></td>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>test@gmail.com</td>
    <td><button class="btn btn-danger">Edit</button>
    <button class="btn btn-danger">disable</button></td>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>test@gmail.com</td>
    <td><button class="btn btn-danger">Edit</button>
    <button class="btn btn-danger">disable</button></td>
  </tr>
</table>