<div>
<h1 style="text-align:center;">Staff Management System</h1>
 <button style="background-color:#1cb94e;width:100px;padding:5px;color:white;" routerLink="../dashboard">back to dashboard</button>
</div>
<form id="register-form" (ngSubmit)="Register()" method="post" role="form" style="margin-top:120px;margin-left:700px;">
<div class="form-group">
<input type="text"  name="username1" id="username1" tabindex="1" [(ngModel)]="username"  class="form-control" placeholder="Username" value="">
</div><br/>
<div class="form-group">
<input type="email" name="email" id="email" tabindex="1" [(ngModel)]="email" class="form-control" placeholder="Email Address" value="">
</div><br/>
<div class="form-group">
<input type="password"  name="password1" id="password1" [(ngModel)]="password" tabindex="2" class="form-control" placeholder="Password">
</div><br/>
<div class="form-group">
<input type="password"  name="confirm-password" id="confirm-password" tabindex="2" [(ngModel)]="c_password"  class="form-control" placeholder="Confirm Password">
</div><br/>
<div class="form-group">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="create staff">
</div>
</div>
</div>
</form>
